<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
      <tr>
          <td>Id</td>
          <td>Full Name</td>
          <td>Mobile</td>
          <td>Position</td>
          <td><a href="{% url 'create' %}"><button type="button" class="btn btn-success">Add New</button></a> </td>
      </tr>
    </thead>
    <tbody>
    {% for employees in org %}
        <tr>
        <td>{{ employees.id }}</td>
        <td>{{ employees.cname }}</td>
        <td>{{ employees.cemail }}</td>
        <td>{{ employees.city }}</td>
        <td><a href="{% url 'updaet' employees.id  %}"><button type="button" class="btn btn-primary">Update</button>
        </a>

        <form action="{% url 'delete' employees.id %}"  method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button> </form> </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
</body>
</html>